/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define NAV_L 1
#define OTHER_L 2
#define NUM_L 3
#define SYM_L 4

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

&lt { quick-tap-ms = <200>; };

/ {
    behaviors {
        #ifndef HOMEY_HOLDING_TYPE
        #define HOMEY_HOLDING_TYPE "tap-preferred"
        #endif

        #ifndef HOMEY_HOLDING_TIME
        #define HOMEY_HOLDING_TIME 270
        #endif

        #ifndef HOMEY_STREAK_DECAY
        #define HOMEY_STREAK_DECAY 170
        #endif

        #ifndef HOMEY_REPEAT_DECAY
        #define HOMEY_REPEAT_DECAY 300 // "tap then hold" for key auto-repeat
        #endif

    #ifndef THUMB_HOLDING_TYPE
    #define THUMB_HOLDING_TYPE "balanced"
    #endif
    #ifndef THUMB_HOLDING_TIME
    #define THUMB_HOLDING_TIME 300
    #endif
    #ifndef THUMB_REPEAT_DECAY
    #define THUMB_REPEAT_DECAY 300 // "tap then hold" for key auto-repeat
    #endif

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            flavor =
            HOMEY_HOLDING_TYPE;
            hold-trigger-on-release; // wait for other home row mods
            tapping-term-ms = <HOMEY_HOLDING_TIME>;
            quick-tap-ms = <HOMEY_REPEAT_DECAY>;
            require-prior-idle-ms = <HOMEY_STREAK_DECAY>;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        dthumb: dual_thumb_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "DUAL_THUMB_LAYER";
            flavor =
            THUMB_HOLDING_TYPE;
            tapping-term-ms = <THUMB_HOLDING_TIME>;
            quick-tap-ms = <THUMB_REPEAT_DECAY>; // enable repeat
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        thumb: miryoku_thumb_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "MIRYOKU_THUMB_LAYER";
            flavor =
            THUMB_HOLDING_TYPE;
            tapping-term-ms = <THUMB_HOLDING_TIME>;
            quick-tap-ms = <THUMB_REPEAT_DECAY>; // enable repeat
            //global-quick-tap; // no typing streak
            //retro-tap; // don't allow slow (hold-like) taps

            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        ThumbEsc {
            bindings = <&kp ESC>;
            key-positions = <30 31>;
        };

        Esc {
            bindings = <&kp ESC>;
            key-positions = <11 12 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q       &kp W            &kp E        &kp R                     &kp T                 &kp Y                  &kp U                      &kp I        &kp O            &kp P
&hm LGUI A  &hm RIGHT_ALT S  &hm LCTRL D  &hm LSHFT F               &hm LEFT_ALT G        &hm LEFT_ALT H         &hm RSHFT J                &hm RCTRL K  &hm RIGHT_ALT L  &hm LGUI SEMI
&kp Z       &kp X            &lt 1 C      &lt 2 V                   &kp B                 &kp N                  &lt 2 M                    &lt 1 COMMA  &kp DOT          &kp FSLH
                                          &dthumb LEFT_SHIFT SPACE  &thumb 2 BACKSPACE    &dthumb RIGHT_ALT TAB  &dthumb RIGHT_SHIFT ENTER
            >;
        };

        Vim {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR_ALL    &trans    &trans         &trans        &trans     &trans
&trans        &trans        &trans        &trans        &trans            &kp LEFT  &kp DOWN       &kp UP_ARROW  &kp RIGHT  &kp PRINTSCREEN
&caps_word    &kp K_CUT     &trans        &kp K_COPY    &kp K_PASTE       &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP   &kp END    &trans
                                          &kp ESC       &kp DELETE        &trans    &trans
            >;
        };

        Numeric {
            bindings = <
&kp F1                     &kp F2                     &kp F3                     &kp F4                     &kp F5           &kp F6                     &kp F7             &kp F8           &kp F9         &kp F10
&mt LS(NUMBER_1) NUMBER_1  &mt LS(NUMBER_2) NUMBER_2  &mt LS(NUMBER_3) NUMBER_3  &mt LS(NUMBER_4) NUMBER_4  &mt LS(N5) N5    &mt LS(NUMBER_6) NUMBER_6  &mt LS(N7) N7      &mt LS(N8) N8    &mt LS(N9) N9  &mt LS(N0) N0
&trans                     &trans                     &kp F11                    &kp F12                    &trans           &trans                     &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_MUTE     &trans
                                                                                 &trans                     &trans           &trans                     &trans
            >;
        };
    };
};
